@page
@model IndexModel
@{
    ViewData["Title"] = "Saudação";
}

<h1>Saudação</h1>

<p>@Model.Saudacao</p>

<form method="get">
    <div class="form-group">
        <label for="nomeCompleto">Nome Completo:</label>
        <input type="text" id="nomeCompleto" name="nomeCompleto" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
